@import "tailwindcss";

@theme {
  --color-primary: #004d64;
  --color-primary-container: #006684;
  --color-secondary: #006e1c;
  --color-secondary-container: #91f78e;
  --color-tertiary: #713600;

  --color-background: #f8f9fa;
  --color-surface: #f8f9fa;
  --color-surface-bright: #f8f9fa;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f3f4f5;
  --color-surface-container: #edeeef;
  --color-surface-container-high: #e7e8e9;
  --color-surface-container-highest: #e1e3e4;
  --color-surface-variant: #e1e3e4;

  --color-on-surface: #191c1d;
  --color-on-surface-variant: #3f484d;
  --color-on-primary: #ffffff;
  --color-on-secondary-container: #00731e;

  --color-outline-variant: #bfc8cd;
  --color-error: #ba1a1a;
  --color-primary-fixed: #bee9ff;

  --font-manrope: "Manrope", sans-serif;
  --font-inter: "Inter", sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-on-surface);
  font-family: var(--font-inter);
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-manrope);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}